* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
}

body {
	width: 100vw;
	height: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.wrapper {
	width: 600px;
	height: 850px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: grey;
	background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg');
	background-size: cover;
	
	
}

.header {
	width: 500px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	font-size: 40px;
	gap: 10px;
	text-align: center;
}

h1 {
	font-family: 'Grape Nuts', cursive;
	color: white;
}

.top div {
	font-family: 'Grape Nuts', cursive;
}

.top {
	display: grid;
	position: relative;
	top: -30px;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	width: 450px;
	height: 400px;
	text-align: center;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	color: white;
}

.five {
	border: 1px solid white;
}

.two,
.eight {
	border-right: 1px solid white;
	border-left: 1px solid white;
}

.four,
.six {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.top div {
	background-color: none;
	cursor: pointer;
	min-width: 100px;
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 75px;
}

.info {
	color: white;
	font-size: 24px;
}

i {
	position: relative;
	right: -50px;
	font-size: 40px;
	cursor: pointer;
	color: white;
	transition: 0.3s;
}

i:hover {
	transform: scale(1.1);
	color: rgba(255, 255, 255, 0.671);
}

.bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: row;
	height: 150px;
	width: 600px;
}

button {
	margin: 10px;
	width: 150px;
	height: 50px;
	font-size: 25px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	background-color: white;
	transition: 0.3s;
}

.position{
	position: relative;
	height: 50px;
	width: 50px;
	text-align: center;	
	line-height: 50px;
	right: -70px;
	background-color: white;
	border-radius: 50%;
	font-size: 24px;
	
}

.position:hover{
	transform: none;
	background-color: white;
	
}

button:hover {
	transform: scale(1.1);
	background-color: rgba(255, 255, 255, 0.671);
}

.invisible {
	position: absolute;
	/* left: -10000px; */
	width: 550px;
	height: 300px;
	background-color: rgba(170, 175, 174, 0.87);
	display: flex;
	justify-content: center;
	padding: 20px;
	align-items: center;
	flex-direction: column;
	border-radius: 25px;
	text-align: center;
	z-index: -1;
}

.closeBtn {
	position: relative;
	bottom: -80px;
}

.shadow {
	position: absolute;
	width: 600px;
	height: 850px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: -10;
}


.winner{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: rgb(150, 145, 145);
	border-radius: 5%;
	color: white;
	border: white 1px solid;
	justify-content: center;
	display: flex;
	align-items: center;
	z-index: -100;
	font-size: 24px;
}

.restartBtn{
	z-index: 1000;
}

